.container {
    display: grid;
    grid-template-rows: 100px auto;
    gap: 15px;
    padding: 15px;
    border: 2px solid #4a148c;
    background-color: #ede7f6;
}

.box {
    background-color: #7e57c2;
    color: white;
    padding: 15px;
    font-size: 16px;
    border-radius: 6px;
}
