.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    padding: 15px;
    border: 2px solid #ff8f00;
    background-color: #fff8e1;
}

.box {
    background-color: #263238;
    color: #ffca28;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 6px;
}

/* Column span */
.span {
    grid-column: 1 / 3;
    background-color: #ff6f00;
    color: #1a1a1a;
}
