body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1b1f1e;
    color: #e0f2f1;
}

h2 {
    text-align: center;
    padding: 20px;
    color: #69f0ae;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    /* // Replaced:
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */

    gap: 20px;
    padding: 20px;
}

.box {
    background-color: #2e7d32;
    color: #e8f5e9;
    padding: 30px;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
}
